<div class="container-fluid">
    <div class="contenedor">
        <div class="row titulo">
            <div class="col"> 
                <h2>Educación</h2>
            </div>
        </div>
        <!-- Educación 1 -->
        <div class="row texto justify-content-center"> 
            <div class="col-8">
                <div class="container-fluid tarjeta">
                    <div class="row ">
                        <div class="col-2 logo ">
                            <img src="../../../assets/Logo-removebg-preview.png" class="img-fluid">
                        </div>
                        <div class="col-8 texto ">
                            <div class="row">
                                <h5>Desarrollador Web Jr</h5>
                            </div>
                            <div class="row descripcion">
                                <p>Diseño, planificacion y ejecución de proyectos eléctricos enfocados en eficiencia energética, energías renovables y automatización</p>
                            </div>
                            <div class="row periodo">
                                <p>Jun 2022 - Actualidad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Educación 2 -->
        <div class="row texto justify-content-center"> 
            <div class="col-8">
                <div class="container-fluid tarjeta">
                    <div class="row ">
                        <div class="col-2 logo ">
                            <img src="../../../assets/APLogo.png" class="img-fluid">
                        </div>
                        <div class="col-8 texto ">
                            <div class="row">
                                <h5>Pasantia - Genneia</h5>
                            </div>
                            <div class="row descripcion">
                                <p>Diseño, planificacion y ejecución de proyectos eléctricos enfocados en eficiencia energética, energías renovables y automatización</p>
                            </div>
                            <div class="row periodo">
                                <p>Jun 2022 - Actualidad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
