<div class="header">
    <div class="logo">
            <img src="../../../assets/APLogo.png" alt="LogoAP" id="logoAP">
    </div>
    
    <div id="header-der">
        <div class="redes">
            <a href="https://www.instagram.com/santimusante/"><img src="../../../assets/instagram.png" width="50px" height="50px" alt="Instagram"></a>
        </div>
        <div class="redes">
            <a href="https://github.com/SantiagoM9"><img src="../../../assets/github.png" width="50px" height="50px" alt="Instagram"></a>
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/santiago-musante-6211591ab/"><img src="../../../assets/linkedin.png" width="50px" height="50px" alt="Instagram"></a>
        </div>
        <button id="boton-login">
            <h2>Log in</h2>
        </button>
    </div>
    
</div>
