.header {
    background-color: #31688F;
    height:100%;
    font-family:sans-serif;

    }

.logo {
    padding-top: 0;
}

#logoAP {
    width: 200px;
    height: 125px;
    }


.redes {
    align-self: center;
    padding-right: 0;
    padding-left: 0;
    }

#boton-login {
   align-self: center;
   margin-left: 0;
   margin-right: 0;
   padding-left: 20%;
   padding-right: 20%;
   border-style:double;
   border-color: rgb(255, 255, 255);
   cursor: pointer;
   border-radius: 15px;
   font-weight: 600;
   box-shadow: 0 0 20px rgba(141, 141, 177, 0.2);
   transition: 0.4s;
   color: rgb(74, 185, 0);
    }

