<div class="container-fluid">
    <div class="contenedor">
        <div class="row titulo">
            <div class="col"> 
                <h2>Acerca de mi</h2>
            </div>
        </div>
        <div class="row texto justify-content-center">
            <div class="col-8">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati nemo, hic dolorum illum sunt totam quidem in iure quo quas, reiciendis corporis sint temporibus neque accusamus aliquid voluptatum voluptatem laborum.</p>
            </div>
        </div>
    </div>
    
</div>
