.container-fluid {
    background-color: #31688F;
}

.foto {
    margin-left: 20%;
    padding: 0;
}

.titulo {
    align-self: center;
}

.nombre {
        padding-bottom: 8%;
}

.desarrollador h1 {
    font-weight: bold;
    font-size: 330%;
}