.container-fluid {
    background-color: #31688F;
}

.foto {
    margin-left: 20%;
    padding: 0;
}

.titulo {
    align-self: center;
}

.nombre {
        padding-bottom: 8%;
}

.desarrollador h1 {
    font-weight: bold;
    font-size: 330%;
}

/* Si se achica mucho la pantalla la foto pasa a quedar muy chica y no vale la pena*/
@media (max-width: 750px) {
    .img-fluid {
      visibility: hidden; 
    }
}
