<div class="container-fluid">
    <div class="row banner">
        <div class="col-3 foto">
            <img src="../../../assets/Foto_CV-removebg-preview.png" class="img-fluid" alt="">
        </div>
        <div class="col titulo">
            <div class="row">
                <h1>Hola!</h1>
            </div>
            <div class="row nombre">
                <h1>Soy Santiago Musante</h1>
            </div>
            <div class="desarrollador">
                <div class="row">
                    <h1>Desarrollador Web</h1>
                </div>
                <div class="row">
                    <h1>Full Stack Jr</h1>
            </div>
            
            </div>
        </div>
    </div>
</div>