<div class="container-fluid">
    <div class="contenedor">
        <div class="row titulo">
            <div class="col"> 
                <h2>Proyectos y Actividades</h2>
            </div>
        </div>
        <!-- Proyecto 1 -->
        <div class="row texto justify-content-center"> 
            <div class="col-8">
                <div class="container-fluid tarjeta">
                    <div class="row ">
                        <div class="col-8 texto ">
                            <div class="row">
                                <h5>Ingeniero de Proyectos - Dynamic Energy</h5>
                            </div>
                            <div class="row descripcion">
                                <p>Diseño, planificacion y ejecución de proyectos eléctricos enfocados en eficiencia energética, energías renovables y automatización</p>
                            </div>
                            <div class="row periodo">
                                <p>Jun 2022 - Actualidad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Proyecto 2 -->
        <div class="row texto justify-content-center"> 
            <div class="col-8">
                <div class="container-fluid tarjeta">
                    <div class="row ">
                        <div class="col-8 texto ">
                            <div class="row">
                                <h5>Pasantia - Genneia</h5>
                            </div>
                            <div class="row descripcion">
                                <p>Diseño, planificacion y ejecución de proyectos eléctricos enfocados en eficiencia energética, energías renovables y automatización</p>
                            </div>
                            <div class="row periodo">
                                <p>Jun 2022 - Actualidad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Proyecto 3 -->
        <div class="row texto justify-content-center"> 
            <div class="col-8">
                <div class="container-fluid tarjeta">
                    <div class="row ">
                        <div class="col-8 texto ">
                            <div class="row">
                                <h5>Pasantia - Genneia</h5>
                            </div>
                            <div class="row descripcion">
                                <p>Diseño, planificacion y ejecución de proyectos eléctricos enfocados en eficiencia energética, energías renovables y automatización</p>
                            </div>
                            <div class="row periodo">
                                <p>Jun 2022 - Actualidad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

