<div class="container-fluid">
    <div class="contenedor">
        <div class="row titulo">
            <div class="col hard"> 
                <h2>Hard Skills</h2>
            </div>
            <div class="col soft"> 
                <h2>Soft Skills</h2>
            </div>
        </div>
        <div class="row primera-linea">
            <div class="col">
                <!-- El percent se ajustará desde BD -->
                <circle-progress
                    [percent]="90" 
                    [title]="'Trabajo en equipo'"
                    [titleColor]="'white'"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="800"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [titleFontSize]="'20'"
                    ></circle-progress>
            </div>
            <div class="col">
                <!-- El percent se ajustará desde BD -->
                <circle-progress
                    [percent]="90" 
                    [title]="'Trabajo en equipo'"
                    [titleColor]="'white'"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="800"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [titleFontSize]="'20'"
                    ></circle-progress>
            </div>
            <div class="col">
                <!-- El percent se ajustará desde BD -->
                <circle-progress
                    [percent]="90" 
                    [title]="'Trabajo en equipo'"
                    [titleColor]="'white'"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="800"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [titleFontSize]="'20'"
                    ></circle-progress>
            </div>
            <div class="col">
                <!-- El percent se ajustará desde BD -->
                <circle-progress
                    [percent]="90" 
                    [title]="'Trabajo en equipo'"
                    [titleColor]="'white'"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="800"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [titleFontSize]="'20'"
                    ></circle-progress>
            </div>
        </div>  
        <div class="row segunda-linea">
            <div class="col">
                <!-- El percent se ajustará desde BD -->
                <circle-progress
                    [percent]="90" 
                    [title]="'Trabajo en equipo'"
                    [titleColor]="'white'"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="800"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [titleFontSize]="'20'"
                    ></circle-progress>
            </div>
            <div class="col">
                <!-- El percent se ajustará desde BD -->
                <circle-progress
                    [percent]="90" 
                    [title]="'Trabajo en equipo'"
                    [titleColor]="'white'"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="800"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [titleFontSize]="'20'"
                    ></circle-progress>
            </div>
            <div class="col">
                <!-- El percent se ajustará desde BD -->
                <circle-progress
                    [percent]="90" 
                    [title]="'Trabajo en equipo'"
                    [titleColor]="'white'"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="800"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [titleFontSize]="'20'"
                    ></circle-progress>
            </div>
            <div class="col">
                <!-- El percent se ajustará desde BD -->
                <circle-progress
                    [percent]="90" 
                    [title]="'Trabajo en equipo'"
                    [titleColor]="'white'"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="800"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [titleFontSize]="'20'"
                    ></circle-progress>
            </div>
        </div>   
    </div>
    
</div>

