<div class="container-fluid">
    <div class="contenedor">
        <div class="row titulo">
            <div class="col idiomas"> 
                <h2>Idiomas</h2>
            </div>
            <div class="col">
                <!-- El percent se ajustará desde BD -->
                <circle-progress
                    [percent]="90" 
                    [title]="'Ingles'"
                    [titleColor]="'white'"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="800"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [titleFontSize]="'20'"
                    ></circle-progress>
            </div>
            <div class="col">
                <!-- El percent se ajustará desde BD -->
                <circle-progress
                    [percent]="15" 
                    [title]="'Frances'"
                    [titleColor]="'white'"
                    [radius]="100"
                    [outerStrokeWidth]="8"
                    [innerStrokeWidth]="2"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="800"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [titleFontSize]="'20'"
                    ></circle-progress>
            </div>
    </div>
</div>


